*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 120px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 120px;
    background-size: cover;
}
.border{
     border: 2px solid transparent;
     
}
.border:hover{
    border: 1.4px solid white;
}
.icon1{
    color: #cccccc;
    margin-left: 15px;
    margin-top: 5px;
    font-size: .85rem;
}
.icon2{
    margin-left: 2.5px;
}
.location{
    display: flex;
    margin-top: 5px;
    align-content: center;
}
.nav-search{
    display: flex;
    margin-left: 15px;
    height: 35px;
    width: 600px;
    align-content: center;
    margin-top: 12px;
  background-color: orange;
  border-radius: 3.5px;
}
.search-item{
    width: 90%;
    font-size: 1rem;
    border: none;
}
.search-select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius: 3.5px;
}
.search-icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #0f1111;
}
.in{
font-size: .75rem;

}
.acc{
    font-size: .9rem;
    font-weight: bolder;
    
}
.sign{
    margin-top: 9px;
    
}
.cart i{ 
    font-size: 1.8rem;
}
.cart{
    display: flex;
    font-display: inline;
    margin-top: 9px;
    font-size: 1rem;
}
.carts{
    font-size: .9rem;
    font-weight: bolder;
    margin-top: 12px;
}
.panel{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    color: white;
    align-items: center;
}
.panel-ops{
    width: 90%;
    word-spacing: 15px;
}
.panel :hover{
    border: 1px dotted white;
    border-radius: 5px;
}
.all{
    width: 75px;
    margin-left: 20px;
}
.panel-last{
    width:200px;
    font-weight: 600;
}
/**hero section**/
.hero{
    background-image: url(hero2.jpg);
    background-size: cover;
    height: 300px;
}
.shopping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    background-color: #e2e7e2;
}
.box{
   
    height: 400px;
    width: 22%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin: 15px;
}
.box-img{
    background-size: cover;
    height: 275px;
    background-repeat: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
      
}
.box-content p{
    color: #007185;
}

/**footer design**/
.footer1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    font: .85em sans-serif;
    align-items: center;
    justify-content: center;
}
.footer2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: .9rem;
}
ul a{
    display: block;
    margin-top: 15px;
    color: #dddddd;
    font-size: .85rem;
    
}
ul {
   margin-top: 40px;
}
.footer3{
    background-color: #222f3d;
    border-top: 1px solid #f7ffff;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    width: 100px;
    background-size: cover;
    height: 40px;
}
.footer4{
    background-color: #0f1111;
    color: whitesmoke;
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;

}
.ul2 a{
    margin-top: 2px;
    display: block;
} 
.ul2{
    margin-top: 10px;
    text-align: center;
}
